---
- name: Copy certificate file
  copy:
    src: "{{ item }}/certificate"
    dest: /etc/pki/tls/certs/{{ item }}_server.crt
    owner: root
    group: root
    mode: 0644
  loop:
    - "_"
    - "proxy"
    - "www"
    - "wordpress"
    - "mail"

- name: Copy certificate key file
  copy:
    src: "{{ item }}/privatekey"
    dest: /etc/pki/tls/private/{{ item }}_server.key
    owner: root
    group: root
    mode: 0644
  loop:
    - "_"
    - "proxy"
    - "www"
    - "wordpress"
    - "mail"

- name: Copy CA certificate file
  copy:
    src: cachain
    dest: /etc/pki/tls/certs/cacert.crt
    owner: root
    group: root
    mode: 0644

- name: Open 443 port for https
  ansible.posix.firewalld:
    permanent: yes
    port: "443/tcp"
    immediate: yes
    state: enabled
