---
- name: Install httpd
  dnf:
    name: httpd

- name: Firewall open port 80/tcp
  ansible.posix.firewalld:
    permanent: yes
    port: "80/tcp"
    immediate: yes
    state: enabled

- name: Create folder for web page files
  file:
    path: "/var/www/html/www.{{ hostname }}/public_html"
    group: centos
    owner: centos
    state: directory
    mode: 0755

- name: Create config file for virtual host
  template:
    src: virtualhost.www.conf.j2
    dest: "/etc/httpd/conf.d/www.{{ hostname }}.conf"
    group: root
    owner: root
    mode: 0644

- name: Create config file for proxy
  template:
    src: proxy.conf.j2
    dest: "/etc/httpd/conf.d/proxy.conf"
    group: root
    owner: root
    mode: 0644

- name: Copy index.html
  template:
    src: index.html.j2
    dest: /var/www/html/www.{{ hostname }}/public_html/index.html
    group: root
    owner: root
    mode: 0644

- name: Install pip
  dnf:
    name: python3-pip

- name: Install Flask (Python package)
  pip:
    name: flask

- name: Create user for Python server
  user:
    name: proxy
    state: present

- name: Copy Python server file
  copy:
    src: server.py
    dest: "{{ python_server_location }}"
    group: proxy
    owner: proxy
    mode: 0644

- name: Copy Python server service file
  template:
    src: proxy.service.j2
    dest: /etc/systemd/system/proxy.service
    group: root
    owner: root
    mode: 0644

- name: Reload service files
  systemd:
    daemon_reload: yes

- name: Start / enable Python service
  systemd:
    name: proxy
    enabled: yes
    state: restarted
  tags: restart

- name: Set SEbool, whatever it is
  ansible.posix.seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes

- import_tasks: wordpress.yml
  tags: wordpress

- import_tasks: apache_modules.yml
  tags: apacheModules

- import_tasks: mod_sec.yml
  tags: modsec

- name: Install mod_ssl package
  dnf:
    name: mod_ssl
    state: present

- import_tasks: certificates.yml

- name: Start httpd
  systemd:
    name: httpd
    enabled: yes
    state: restarted
  tags:
    - restart

